<!DOCTYPE html>
<html>
<head>
	<title>Booker</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
	<meta http-equip="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div id="wrap">
            <div id="header">
                <div class="container">
                    <div class="header">
                        <div class="header-menu">
                            <a href="login.html">고객센터</a>
                            {{^LoginUserName}}
                            <a href="login.html">로그인</a>
                            <a href="login.html">회원가입</a>
                            {{/LoginUserName}}
                        </div>
                        <div class="header-tit">
                            <h1><a href="localhost:8080">Booker</a></h1>
                        </div>
                        <div class="header-icon">
                        </div>
                        <div class="herder-nav">
                            <div class="dropdown">
                                <button class="dropbtn">우리가게 관리</button>
                                <div class="dropdown-content">
                                    <a href="#">메뉴 관리</a>
                                    <a href="#">메뉴 품절</a>
                                    <a href="#">정보 수정요청</a>
                                    <a href="#">영업 임시중지</a>
                                    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">광고관리</button>
                                <div class="dropdown-content">
                                    <a href="#">메뉴 관리</a>
                                    <a href="#">메뉴 품절</a>
                                    <a href="#">정보 수정요청</a>
                                    <a href="#">영업 임시중지</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">사장님꿀팁</button>
                                <div class="dropdown-content">
                                    <a href="#">메뉴 관리</a>
                                    <a href="#">메뉴 품절</a>
                                    <a href="#">정보 수정요청</a>
                                    <a href="#">영업 임시중지</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">제휴혜택</button>
                                <div class="dropdown-content">
                                    <a href="#">메뉴 관리</a>
                                    <a href="#">메뉴 품절</a>
                                    <a href="#">정보 수정요청</a>
                                    <a href="#">영업 임시중지</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
